@charset "utf-8";
$primary: hsl(211, 87%, 25%);
$link: hsl(201, 87, 85);
$info: hsl(48, 67, 79);
$danger: hsl(1, 93, 52);
$success: hsl(166, 100%, 28%);
$text: hsl(240, 90%, 4%);
$background: hsl(40, 33, 96);

$family-sans-serif: 'Montserrat', sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: 'PT Serif', serif;

@import '../node_modules/bulma/bulma.sass';

.card-sized {
  width: 300px;
}

.cookbook-recipe:hover {
  background-color: $danger;
  color: $background;
}

.recipe {
  width: 600px;
}

.selectedRecipe {
  background-color: black;
}

.my-border {
  border: 1px;
}

.my-form {
  width: 500px;
  margin: 0 auto;
}

.cookbook {
  width: 800px;
}

.aisle {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .my-form {
    width: 300px;
  }
}
